# Generic Stuff
APP_NAME="watrlabs"
APP_DESC="Uhhhh..."
APP_ENV=local
APP_DEBUG=true

# Encryption
ENCRYPTION_KEY="watrlabs_secret_key_123456789"

# Cookies
Domain=".onrender.com" # please just do domain.tld (not subdomain.domain.tld)
CookieName="onickgames"

# Storage (R2)
R2_BUCKET=""
R2_ACCOUNT_ID=""
R2_KEY_ID=""
R2_SECRET=""

# Maintenance Toggles
MAINTENANCE=false
ACTUAL_MAINTENANCE=false

# Database
DB_HOST="watrbx-remake1-nicollaspolicarpo977-1197.i.aivencloud.com"
DB_NAME="defaultdb"
DB_USER="avnadmin"
DB_PASS="AVNS_vRKM61v1vzMLV4MOHxG"
